body {
  background-color: #0f0f0f;
  color: #f0f0f0;
  display: flex;
  font-size: 4vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input {
  text-align: center;
  font-size: 3vh;
  margin-bottom: 2vh;
}

button {
  font-size: 3vh;
}

#thanks {
  display: none;
}
